body {
  background: black;
  color: white;
  text-align: center;
  width: 800px;
  margin: 15vh auto;
}

.gameArea {
  font-family: "Impact";
  font-size: 40px;
  width: 600px;
  float: left;
}

.scoreArea {
  width: 175px;
  height: 396px;
  border: 2px solid white;
  float: left;
  margin-top: 0px;
  margin-left: 20px;
}

canvas {
  border: 2px solid white;
}

footer {
  width: 600px;
  font-size: 9px;
  font-family: "Tahoma";
}